* {
  box-sizing: border-box;
  font-family: Roboto;
  line-height: normal;
}

body {
  margin: 0;
  padding: 0;
}

.page-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.container {
  height: 100%;
  width: 100%;
  max-width: 1230px;
  margin: 0 auto;
  padding: 0 15px;
}

/* btn btn-pramary */
/* btn-outline */
.btn {
  display: flex;
  padding: 8px 16px;
  align-items: center;
  gap: 4px;
  border-radius: 2px;
  outline: none;
  cursor: pointer;
}

.btn-pramary {
  background-color: #1890FF;
  border: 1px solid #1890FF;
  color: #FFF;
}

.btn-outline {
  border: 1px solid #D9D9D9;
  background-color: #FFF;
  color: #595959;
}

.logo {
  max-width: 100px;
}

.logo img {
  width: 100%;
}


.main {
  flex-grow: 1;
  background: linear-gradient(180deg, rgba(245, 245, 245, 0.00) 1.04%, #F5F5F5 100%);
}


.banner {
  margin-bottom: 56px;
}

.banner-item {
  padding: 68px;
  border-radius: 10px;
  background-image: url('./img/baners/banner.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center right;
}

.banner-item--title {
  color: #302C34;
  font-size: 39px;
  font-weight: 700;
  max-width: 50%;
  margin-top: 0;
  margin-bottom: 15px;
}

.banner-item--subtitle {
  color: #302C34;
  font-size: 24px;
  font-weight: 400;
  max-width: 50%;
  margin: 0;
}

.products {}

.products-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 24px;
}

.products-header--title {
  color: #000;
  font-size: 36px;
  font-weight: 700;
  margin: 0;

}

.products-header--search {
  padding: 5px 12px;
  min-width: 306px;
  height: 34px;
  border-radius: 2px;
  border: 1px solid #D9D9D9;
  background-color: #FFF;
}

.products-header--search::placeholder {
  color: #BFBFBF;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

.products-header--search:focus {
  outline: none;
  border: 1px solid #766f6f;
}

.products-wrapper {
  margin-top: 44px;
  margin-bottom: 90px;
  display: flex;
  flex-wrap: wrap;
  row-gap: 30px;
  column-gap: 24px;
}

.products-card {
  width: calc((100% - 48px) / 3);
  border-radius: 7px;
  background-color: #FFF;
  box-shadow: 0px 4px 12px 0px rgba(0, 0, 0, 0.05);
  overflow: hidden;
  text-decoration: none;
}

.products-card__description {
  padding: 20px 24px 34px 24px;
}

.products-card__image {
  width: 100%;
}

.products-card__image img {
  width: 100%;
}

.products-card__description-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.products-card__description-row:not(:last-child) {
  margin-bottom: 10px;
}

.products-card__description--title {
  color: #000;
  font-size: 24px;
  font-weight: 700;
  line-height: 32px;
  margin: 0;

}

.products-card__description--badge {
  padding: 0px 8px;
  color: #FFF;
  font-size: 12px;
  font-weight: 400;
  line-height: 20px;
  border-radius: 2px;
  background-color: #262626;
}

.products-card__description-info {
  display: flex;
  align-items: center;
  row-gap: 8px;
  column-gap: 25px;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.products-card__description-info--raiting {
  color: #FFC107;
  font-size: 18px;
  font-weight: 700;
  line-height: 32px;
}

.products-card__description-info--price {
  color: #8C8C8C;
  font-size: 18px;
  font-weight: 400;
  line-height: 32px;
}

.products-card__description-info--group {
  color: #8C8C8C;
  font-size: 18px;
  font-weight: 400;
  line-height: 32px;
  position: relative;
}

.products-card__description-info--group::before {
  content: '';
  display: block;
  position: absolute;
  width: 5px;
  height: 5px;
  left: -14px;
  top: 14px;
  background-color: #8C8C8C;
  border-radius: 50%;
}

.products-card__description--name {
  margin: 0;
  color: #000;
  font-size: 24px;
  font-weight: 400;
  line-height: 32px;
}

.products-card__description--text {
  margin: 0;
  color: #8C8C8C;
  font-size: 18px;
  font-weight: 400;
}

.products-card__description-controls {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
  row-gap: 10px;
  column-gap: 30px;
}

.products-card__description-controls--price {
  color: #000;
  font-size: 20px;
  font-weight: 700;
  line-height: 32px;
}


.cart-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  flex-wrap: wrap;
  
}

.cart-item:not(:last-child){
  margin-bottom: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid #D9D9D9;
}

.cart-item__title {
  color: #000;
  font-size: 18px;
  font-weight: 400;
  line-height: 32px;
  margin: 0;
}

.cart-item__controls {
  display: flex;
  align-items: center;
}

.cart-item__controls button {
  color: #40A9FF;
  border-radius: 2px;
  border: 1px solid #40A9FF;
}

.cart-item__controls--count {
  color: #000;
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  margin-left: 15px;
  margin-right: 15px;
}

.cart-item__controls--price {
  color: #000;
  font-size: 20px;
  font-weight: 700;
  line-height: 32px;
  margin-right: 45px;
}


@media (max-width: 991px) {
  .banner-item--title {
    max-width: 100%;
  }

  .banner-item--subtitle {
    max-width: 100%;
  }

  .products-card {
    width: calc((100% - 24px) / 2);
  }
}

@media (max-width: 768px) {
  .products-card {
    width: 100%;
  }
}
